body {
    background-color: rgb(20, 20, 40);
}

.dial {
    margin: 2px auto;
    width: 200px;
    height: 100px;
    background-color: rgb(70, 70, 90);
    border-radius: 400px 400px 0 0;
    position: relative;
    overflow: hidden;
}

.dial-inverted {
    margin: 2px auto;
    width: 200px;
    height: 100px;
    background-color: rgb(70, 70, 90);
    border-radius: 0 0 400px 400px;
    position: relative;
    overflow: hidden;
}

.hand {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 80px solid rgb(150, 150, 170);
    border-bottom-right-radius: 300px;
    border-bottom-left-radius: 300px;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translate(-50%, -100%) rotate(0deg);
    transition: transform 0.3s;
}

.hand-inverted {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 80px solid rgb(150, 150, 170);
    border-bottom-right-radius: 300px;
    border-bottom-left-radius: 300px;
    top: -25%;
    left: 50%;
    transform-origin: bottom center;
    transform: translate(50%, 0) rotate(0deg);
    transition: transform 0.3s;
}

input[type="range"] {
    -webkit-appearance: none;
    color: rgb(70, 70, 90);
    background-color: rgb(40, 40, 60);
    display: block;
    width: 80%;
    margin: 20px auto;
}

#dial-value,
#dial-value-inverted {
    color: white;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    margin: 20px auto;
    position: relative;
    width: 80%;
    text-align: center;
}

h1,
h4 {
    color: rgb(150, 150, 180);
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: rgb(210, 210, 230);
    font-family: Arial, Helvetica, sans-serif;
}

.bg-ct {
    background-color: rgb(50, 50, 70);
    padding: 15px;
    width: auto;
    display: inline-block;
}

.connected {
    color: rgb(100, 255, 100);
}

.disconnected {
    color: rgb(255, 100, 100);
}

.updatedAt {
    color: rgb(165, 195, 255);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    width: 20%;
    text-align: center;
    border: 2px solid rgb(110, 110, 160);
}

.viewvv {
    font-size: 18px;
}

.password {
    color: rgb(190, 170, 255);
}

.detail {
    color: rgb(140, 140, 160);
}

.title {
    color: white;
    font-size: 38px;
}
